<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./cus.css">
</head>

<body>
    <header>
        <h1><b>Customer Management System</b></h1>
    </header>
    <div class="main">
        <div class="input-element">
            <label for="txtId">ID: </label>
            <input type="text" name="" id="txtId">

            <label for="txtName">Name: </label>
            <input type="text" name="" id="txtName">

            <label for="txtAddress">Address: </label>
            <textarea name="" id="" cols="30" rows="10"></textarea>

            <label for="txtMobileNo">Mobile No.: </label>
            <input type="text" name="" id="txtMobileNo">
        </div>
        <div class="input-btn">
            <input type="button" value="Add">
            <input type="button" value="Search">
            <input type="button" value="Modify">
            <input type="button" value="Delete">
        </div>
        <div class="input-btn">
            <input type="button" value="First">
            <input type="button" value="Previous">
            <input type="button" value="Next">
            <input type="button" value="Last">
        </div>
        <!-- TABLE CODE -->
        <div>
            <table id="customers">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Mobile Number</th>
                </tr>
                <tr>
                    <th>1</th>
                    <th>abc</th>
                    <th>nhpc</th>
                    <th>91 Number</th>
                </tr>
            </table>
        </div>
    </div>
</body>
</html>